.sub-header
    .categories
        span.input-icon
            span.material-symbols-outlined menu
        .category-select
            span.selected-value #{__('categoriesDropdown.placeholder')}
            input#categories-autocomplete(placeholder=__('categoriesDropdown.placeholder'))
        span.dropdown-arrow
            span.material-symbols-outlined expand_more
    .search
        span.search-icon
            span.material-symbols-outlined search
        .search-input
            input(placeholder=__('search.placeholder')).inp-search
        .search-action
            button(type="button").btn.btn-sm.btn-search #{__('search.button')}
    .cart
        a(href="/store/checkout").cart-link
            span.cart-icon
                span.material-symbols-outlined.fill shopping_cart
                span(data-amount=0, class="amount")
            span.cart-label #{__('cart.label')}
